@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo: var(--logo);
  --color-toggle-bg: var(--toggle-bg);
  --color-toggle-slider-bg: var(--toggle-slider-bg);
  --color-toggle-slider-border: var(--toggle-slider-border);
  --color-theme-icon-fill-active: var(--theme-icon-fill-active);
  --color-theme-icon-fill-not-active: var(--theme-icon-fill-not-active);
  --color-linear-primary-gradient: var(--linear-primary-gradient);
  --color-linear-reverse-primary-gradient: var(
    --linear-reverse-primary-gradient
  );
  --color-primary-border: var(--primary-border);
  --color-sidebar-text: var(--sidebar-text);
  --color-sidebar-text-active: var(--sidebar-text-active);
  --color-primary-text: var(--primary-text);
  --color-wallet-border: var(--wallet-border);

  --color-container: var(--container);
  --color-container-border: var(--container-border);

  --color-card: var(--card);
  --color-card-border: var(--card-border);
}

:root {
  --background: #f6f6f6;
  --foreground: #000000;
  --logo: #2e2e2e;

  --toggle-bg: #ededed;
  --toggle-slider-bg: #ffffff;
  --toggle-slider-border: #efefef;
  --theme-icon-fill-active: #000000;
  --theme-icon-fill-not-active: #d3d3d3;

  /* Background Gradients */
  --linear-primary-gradient: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  --linear-reverse-primary-gradient: linear-gradient(
    180deg,
    #1f1f1f 0%,
    #1c1c1c 100%
  );

  /* Borders */
  --primary-border: #e8e8e8;
  --wallet-border: #efefef;

  /* Text */
  --primary-text: #444444;
  --sidebar-text: #909090;
  --sidebar-text-active: #303030;

  --container: #f7f7f7;
  --container-border: linear-gradient(to bottom, #eaeaea, #eaeaea);

  --card: #ffffff;
  --card-border: #eaeaea;
}

.dark {
  --background: #111111;
  --foreground: #ffffff;
  --logo: #ffffff;

  --toggle-bg: #1c1c1c;
  --toggle-slider-bg: #2e2e2e;
  --toggle-slider-border: #363636;
  --theme-icon-fill-active: #ffffff;
  --theme-icon-fill-not-active: #515151;

  /* Background Gradients */
  --linear-primary-gradient: linear-gradient(180deg, #1f1f1f 0%, #1c1c1c 100%);
  --linear-reverse-primary-gradient: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 100%
  );

  /* Borders */
  --primary-border: #202020;
  --wallet-border: transparent;

  /* Text */
  --primary-text: #f4f4f4;
  --sidebar-text: #a4a4a4;
  --sidebar-text-active: #ffffff;

  --container: #161616;
  --container-border: linear-gradient(311.7deg, #202020 20.1%, #363636 124.75%);

  --card: #1d1d1d;
  --card-border: #202020;
}

button {
  cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled {
  cursor: not-allowed;
}
